# COBOL files should use IBM-1047 (EBCDIC) encoding
*.cbl working-tree-encoding=IBM-1047
*.cob working-tree-encoding=IBM-1047
*.CBL working-tree-encoding=IBM-1047
*.COB working-tree-encoding=IBM-1047

# COBOL copybooks
*.cpy working-tree-encoding=IBM-1047
*.CPY working-tree-encoding=IBM-1047

# JCL files
*.jcl working-tree-encoding=IBM-1047
*.JCL working-tree-encoding=IBM-1047

# BMS Maps
*.bms working-tree-encoding=IBM-1047
*.BMS working-tree-encoding=IBM-1047
