# COBOL and PL/I compiler paths

COBOL_ROOT=/usr/lpp/IBM/cobol/igyv6r4
PLI_ROOT=/usr/lpp/IBM/pli/v6r1

export PATH=$COBOL_ROOT/bin:$PLI_ROOT/bin:$PATH
export STEPLIB=PLI.V6R1M0.SIBMZCMP:IGY.V6R4M0.SIGYCOMP:CICSTS62.CICS.SDFHLOAD:$STEPLIB